
.NavCollapse{
    display: flex;
    flex:1;
    padding: 0 1em;
    @media screen and (max-width: 700px) {
        flex-flow:column;
    }
}

.icon{
    display:none;
    text-align:center;
    text-decoration:none;
    align-self:flex-end;
    cursor:pointer;
    @media screen and (max-width: 700px) {
        display:inline;
    }
    
}

.responsive{
    display: flex;
    flex:1;
    justify-content: space-between;
    @media screen and (max-width: 700px) {
        flex-flow:column;
        align-items:center;
    }
}
.hide{
    @media screen and (max-width: 700px) {
        display:none;
    }
}