.AboutSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px;
    background: #aaaaaa;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: right;
    & h3 {
        font-size: 18px;
        margin: 10px 0;
    }
}

.description {
    flex: 1 1 300px;
}

.profilePic {
    flex: 1 1 300px;
}